#feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
}

.feed__container {
  margin-top: 100px;
}

.photo {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 65px;
}

.photo__header {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 200px;
}

.photo__header .photo__avatar {
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.photo .photo__user-info .photo__author {
  display: block;
  font-weight: 600;
  margin-bottom: -5px;
}

.photo__header .follow_button {
  background-color: #3f99ed;
  color: white;
  border-color: #3f99ed;
  margin-bottom: 0;
}

.photo .photo__user-info .photo__author {
  display: block;
  font-weight: 600;
  margin-bottom: 0;
  text-decoration: none;
  color: inherit;
}

.photo > img {
  max-width: 100%;
}

.photo .photo__info {
  padding: 15px 20px;
}

.photo__actions {
  margin-bottom: 15px;
  font-size: 115%;
}

.photo__actions .photo__action:first-child {
  margin-right: 15px;
}

.photo__actions .photo__action {
  cursor: pointer;
}

.photo .photo__likes {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.photo .photo__add-comment-container {
  margin-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo__add-comment-container textarea {
  width: 90%;
  border: 0;
  font-size: 14px;
  resize: none;
  height: 20px;
}

.photo__add-comment-container textarea:focus,
.photo__add-comment-container textarea:active {
  outline: none;
}

.photo__add-comment-container i {
  cursor: pointer;
}

.photo .photo__time-ago {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-top: 10px;
  display: block;
}

.photo__comment {
  margin-bottom: 10px;
}

.photo__comments .photo__comment-author {
  font-weight: 600;
}

.photo__contents {
  margin-bottom: 10px;
}

.photo__tags {
  margin-bottom: 10px;
}

.photo__feed {
  text-align: center;
}

.feed__musics {
  float: left;
  margin-top: 20px;
}

.feed__musics img {
  margin: 10px;
  /* max-width: 100%;
  height: auto; */
  width: 500px;
  height: 500px;
}

.feed__musicInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.feed__musicInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.feed__open_close {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 96%;
  text-align: center;
  margin-left: 2%;
}

/*팔로우 버튼*/
.arr2 {
  align-items: baseline;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
  vertical-align: baseline;
}

.arr3 {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  margin-right: 2px;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  margin-right: 5px;
}

.border {
  border: 1px solid grey;
}

.pad {
  padding: 15px;
}

/*링크에 파란색 글씨 -> 검은색 글씨로 변경*/
/*링크 클릭 시 보라색 글씨 -> 검은색 글씨로 변경*/
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:hover, a:active {
  text-decoration: none;
  color: black;
}