#music-chart {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 10%;
  width: 100%;
  margin-left: 100px;
}

.chart__container{
  margin-top: 100px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.chart__emotion {
  padding: 20px;
  width: 100%;
}

.chart__title {
  min-width: 10%;
  width: 100%;
  font-size: 20pt;
}

.chart__musics {
  float: left;
  width: 200px;
  margin: 10px
}

.chart__musics > img {
  width: 200px;
}

.chart__musicInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
  max-width: 65%;
}

.chart__emotion_count {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  color: #999999;
  max-width: 30%;
}


