:root{
  --bordercolor: rgba(224, 222, 222, 0.87);
  --bordercoloractive: rgb(128, 128, 128);
}
body{
  background-color: rgba(var(--b3f,250,250,250),1);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.post-write {
  max-width: 935px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.send {
  display: flex;
  width: 100%;
  margin-left: 47.2%;
}


.background2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  overflow: scroll;

  /* 임시 지정 */
  width: 500px;
  height: 600px;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}

.search {
  position: relative;
  width: 100%
}

input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}



.pop-close {
  display: flex;
  width: 20%;
  margin-left: 75%;
}

.music-info {
  display : flex;

  justify-content: center;

  align-items : center;
}