<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin 게시글 삭제 페이지</title>
    <!-- JQuery 사용 설정 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body id="admin_post">
    <header>
        <h1>관리자 페이지 입니다. (게시글 삭제)</h1>
        <h3><a href="./admin.html">관리자 페이지 - 활성화/비활성화 가기</a></h3>
    </header>
    <div id="post_list">
        <div id="post_box">
            <span>게시글 id: </span><span id="post_id"></span>
            <span>작성자: </span><span id="post_username"></span>
            <span>작성 시간: </span><span id="post_createdAt"></span>
            <span>여는/닫는 노래: </span><span id="post_openOrEnd"></span>
            <span>노래 이름: </span><span id="post_musicTitle"></span>
            <button id="post_delete">게시글 삭제</button>
        </div>
    </div>
    <script src="../static/js/admin.js"></script>
</body>

</html>