<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile_우리색으로 칠하조</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery 사용 설정 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>

<body>
<!-- 여기서부터 상단 검색 바 -->
<nav class="navigation">
    <div class="navigation__column">
        <a href="index.html">
            <img src="../static/images/main_logo.jpg"/>
        </a>
    </div>
    <div class="navigation__column" style="display: inline-block;">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="태그를 검색해보세요 ('#' 제외)" id="search_word" style="width: 260px; text-align: left;">
        <input type="button" value="검색" onclick="getSearchWord()" class="search_btn">
    </div>
    <div class="mini_porfile_box">
        <div class="expiration_time">
            <span id="expiration_time"></span>
            <button id="reissue_token" onclick="reissueToken()">접속 연장</button>
        </div>
        <div class="navigation__profile">
            <div class="photo__header" id="getMySimpleProfile1">
                <div>
                    <a id="myProfile18" role="link" tabindex="0">
                        <img src="" id="myProfileImage9" class="photo__avatar"/>
                    </a>
                </div>
                <div class="photo__user-info">
                    <a id="myProfile19" role="link" tabindex="0">
                        <span class="photo__author" id="myProfileUsername9"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- 여기까지 상단 검색 바 -->
<!-- 여기서부터 사이드바 -->
<aside class="sidebar">
    <ul>
        <li class="list">
            <div class="toggle">
                <a href="#">
                    <span class="icon"><ion-icon name="menu-outline" class="open"></ion-icon></span>
                    <span class="title">메뉴 접기</span>
                </a>
            </div>
        </li>
        <li class="list active">
            <b></b>
            <b></b>
            <a href="index.html">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">홈</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a id="myProfile20">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <span class="title">프로필</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="chart.html">
                <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
                <span class="title">실시간 Top</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="#" onclick="alert('아직 준비 중입니다!')">
                <span class="icon"><ion-icon name="alert-outline"></ion-icon></span>
                <span class="title">알림</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="post.html">
                <span class="icon"><ion-icon name="create-outline"></ion-icon></span>
                <span class="title">게시글 작성</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="edit-profile.html">
                <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                <span class="title">설정</span>
            </a>
        </li>
        <li class="list">
            <b></b>
            <b></b>
            <a href="signin.html">
                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                <span class="title">로그아웃</span>
            </a>
        </li>
    </ul>
</aside>
<!-- 여기까지 사이드바 -->
<!-- 여기서부터 본문 -->
<main id="post_search">
    <div class="post_search__container">
        <!-- 여기서부터 상단 프로필 -->
        <header class="post_search__header">
            <div class="post_search__profileImage">
                <!-- 유저 프로필이미지 들어갈 곳 -->
                <p id="post_search__profileImage"></p>
            </div>
            <div class="post_search__column">
                <div class="post_search__title">
                    <h3 class='post_search__tagName'>
                        <!-- 태그 이름 들어갈 곳 -->
                        <span id="post_search__tagName"></span>
                    </h3>
                </div>
                <ul class="post_search__stats">
                    <li class="post_search__stat">
                        <a>게시글</a>
                        <!-- 게시글 수 들어갈 곳 -->
                        <span id="post_search_count" class="stat__number"></span>
                    </li>
                </ul>
            </div>
        </header>
        <!-- 여기까지 상단프로필 -->
        <hr style="border: solid 1px lightgray; margin-bottom: 5%;">
        <!-- 여기서부터 프로필 게시글 -->
        <section id="post_search-posts" class="post_search__photos">
        </section>
        <!-- 여기까지 프로필 게시글 -->
    </div>
    <!-- 여기서부터 모달 팝업 -->
    <div id="post_search_modal" class="modal">
        <div id="post_search_popup" class="modal-content">
            <span class="close" onclick="close_button()">&times;</span>
        </div>
        <!-- 여기서까지 모달 내용 -->
    </div>
    <!-- 여기까지 모달 팝업 -->
</main>
<!-- 여기까지 본문 -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!-- JQuery 사용 설정 -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- 페이지 동작 Js -->
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/post_search.js"></script>
<script src="../static/js/post_search_popup.js"></script>
<script src="../static/js/post_search_word.js"></script>
<script src="../static/js/logout.js"></script>
<script src="../static/js/reissue.js"></script>
</body>
</html>