<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instagram Login Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<div class="wrapper">
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="../static/images/low-res-logo.png" alt="instagram" style="width: 175px;">
			</div>
			<div class="form">
				<div class="input_field">
					<input type="text" placeholder="이메일을 입력하세요" class="input">
				</div>
				<div class="input_field">
					<input type="password" placeholder="비밀번호를 입력하세요" class="input">
				</div>
				<div class="btn"><a href="#">로그인</a></div>
			</div>
			<div class="or">
				<div class="line"></div>
				<p>OR</p>
				<div class="line"></div>
			</div>
			<div class="dif">
				<div class="fb">
					<img src="../static/images/kakao.png" alt="facebook">
					<p>카카오톡으로 로그인</p>
				</div>
				<div class="forgot">
					<a href="#">비밀번호 찾기</a>
				</div>
			</div>
		</div>
		<div class="signup">
			<p>계정이 없으신가요? <a href="signup.html">회원가입</a></p>
		</div>
	</div>
</div>

</body>
</html>