<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odle</title>
    <link rel="stylesheet" href="/static/signup.css">
    <script src="low-res-logo.png"></script>
</head>
<body>
    <div class="signupcontainer">
        <div class="container">
            <div id="image">
                <h1><img src="images/low-res-logo.png" alt="Instagram"></h1>
            </div>
            <div class="signupcontentcontainer">
                <div class="_fblgn">
                    <i class="fab fa-facebook-square"></i>  카카오톡으로 로그인
                </div>
                <div class="_opsgn">
                    <div class="_ftptlbr"><p></p></div>
                    <div class="_opalr">OR</div>
                    <div class="_sdptlbr"></div>
                </div>
                <div class="_infr">
                    <div class="input">
                        <input type="text" name="numberoremail" id="numberoremail" placeholder="이메일을 입력하세요">
                    </div>
                    <div class="input">
                        <input type="text" name="fullname" id="fullname" placeholder="닉네임을 입력하세요">
                    </div class="input">
                    <div class="input">
                        <input type="text" name="username" id="username" placeholder="비밀번호를 입력하세요">
                    </div>
                </div>
                <div class="signup-btn">
                    회원 가입
                </div>
                <div class="_tpadc">
                     <span class="alfdi"></span><span class="alfdi"></span>  <span class="alfdi"></span> 
                </div>
            </div>
        </div>
        <div class="loginfromsignup">
            이미 가입하셨나요? <a href="signin.html">로그인</a>
        </div>
        
    </footer>
</body>
</html>
