<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paintourcolor.odle.crawl.MelonMapper">

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO odle.melon_korea (title, singer, cover) SELECT #{title}, #{singer}, #{cover} FROM DUAL WHERE NOT EXISTS
        (SELECT * FROM odle.melon_korea WHERE id > 363249 AND title = #{title} AND singer = #{singer} AND cover = #{cover});
    </insert>

</mapper>
